* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    min-height: 100vh;
    border: 5px solid grey;
    justify-content: center;
    align-items: center;
    
}

main {
    width: 50%;
}

h1 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Helvetica;
}

ul {
    list-style: none;
}

.x {
    background-color: red;
    color: white;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
}

li, li span {
    margin: 30px 0 30px 0;
    font-family: Helvetica;
}

.skills, .list {
    color: orange;
}

.inputSkill, .newSkill {
    border: 3px solid green;
    height: 40px;
    
}
input {
    width: 75%;
}

.newSkill {
    color: green;
    background-color: white;
    font-weight: 600;
    width: 24%;
}